.sortingMethods {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px 10px 0px;
  overflow: auto;
  &__categories {
    margin-left: 50px;
    display: flex;
    @include noselect;
    .category {
      cursor: pointer;
      margin-right: 10px;
      font-weight: 600;
      background-color: lighten($color: $gray-line, $amount: 5);
      border-radius: 15px;
      padding: 10px 30px;
      transition: $duration background-color;

      &:hover {
        background-color: $gray-line;
      }
      &:active {
        background-color: darken($color: $gray-line, $amount: 10);
      }
    }
    .active {
      background-color: black;
      color: white;

      &:hover {
        background-color: black;
      }
      &:active {
        background-color: lighten($color: black, $amount: 40);
      }
    }
  }
  &__sortingBy {
    display: flex;
    align-items: center;
    margin-right: 50px;

    svg {
      margin-right: 10px;
    }
    &__description {
      font-weight: 600;
      margin-right: 10px;
    }
    .popupSortingWindow {
      @include noselect;

      &__selectedSorting {
        cursor: pointer;
        font-weight: 300;
        font-size: 20px;
        border-bottom: 1px $green dashed;
        color: darken($color: $green, $amount: 15);
      }
      .sortingMethod {
        transition: scale $duration, opacity $duration;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 5px;
        position: absolute;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.09);

        span {
          cursor: pointer;
          font-weight: 300;
          font-size: 20px;
          padding: 5px 10px;

          transition: background-color $duration;
          &:hover {
            background-color: lighten($color: $green, $amount: 50);
          }
          &:active {
            background-color: lighten($color: $green, $amount: 40);
          }
        }
        .active {
          font-weight: 400;
          color: darken($color: $green, $amount: 15);
          background-color: lighten($color: $green, $amount: 50);
        }
      }
    }
  }
}
