.pagination {
  display: flex;
  margin-left: 50px;

  span {
    cursor: pointer;
    @include noselect;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid darken($color: $green, $amount: 10);
    border-radius: 99px;
    height: 50px;
    width: 50px;
    font-weight: 300;
    font-size: 22px;
    color: darken($color: $green, $amount: 10);
    margin-left: 10px;
    transition: $duration background-color;
    &:hover {
      color: white;
      background-color: darken($color: $green, $amount: 10);
    }
    &.active {
      color: white;
      background-color: darken($color: $green, $amount: 10);
    }
    &:active{
        background-color: darken($color: $green, $amount: 20);
    }
  }
}
