.productContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    margin: auto;
    border: 1px solid $gray-line;
    transition: $duration border;
    border-radius: 15px;
    overflow: hidden;

    width: 290px;
    height: 450px;
    display: flex;
    flex-direction: column;

    &__photoContaiener {
      height: 300px;
      background-color: $gray-line;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $duration transform;
      }
    }
    &__descriptionContainer {
      flex: 1;
      position: relative;

      // border: 1px solid red;

      &__buyDescription {
        transition: $duration background-color;

        &__buttonBuy {
          position: absolute;
          bottom: 0;
          right: 0;
          cursor: pointer;
          @include noselect;
          padding: 7px 25px;
          border-radius: 7px;
          background-color: $green;
          margin-right: 7px;
          margin-bottom: 7px;
          &:hover {
            background-color: darken($color: $green, $amount: 10);
          }
          &:active {
            background-color: darken($color: $green, $amount: 20);
          }
        }
        &__price {
          position: absolute;
          bottom: 0;
          left: 0;

          margin-left: 7px;
          margin-bottom: 7px;
          padding: 5px;
          border: 1px dashed $green;
          border-radius: 5px;
          background-color: lighten($color: $green, $amount: 45);
        }
      }
      &__line {
        display: flex;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px dashed $gray-line;
        &__title {
          margin-left: 10px;
          margin-right: auto;
        }
        &__rating {
          margin-right: 10px;
        }
        &__buyProduct {
          margin-right: 10px;
        }
      }
      .tag {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block;
        padding: 1px;
        border-radius: 5px;
        background-color: $gray-line;
        @include noselect;
        cursor: pointer;
        &:hover {
          background-color: darken($color: $gray-line, $amount: 10);
        }
        &:active {
          background-color: darken($color: $gray-line, $amount: 20);
        }
      }
    }

    &:hover {
      border: 1px solid darken($color: $gray-line, $amount: 10);
    }
  }
  .loader {
    border: none;
  }
}
