@import 'src/scss/variables';

.root {
  display: flex;
  margin-top: 30px;
  margin-left: 25px;

  li {
    margin-left: 5px;
    display: inline-block;
    a {
      cursor: pointer;
      @include noselect;
      display: flex;
      justify-content: center;
      line-height: 50px;
      border-radius: 100px;
      border: 1px solid $green;
      height: 50px;
      width: 50px;

      &:hover {
        background-color: lighten($color: $green, $amount: 40);
      }
    }
  }
}
:global {
  .selected {
    border-radius: 100px;
    background-color: lighten($color: $green, $amount: 20);

    &:hover {
      background-color: lighten($color: $green, $amount: 10);
    }
  }
}
