$black: #232323;
$background: #f6f4c0;
$gray-line: #e9e6e6;
$green: #a8e800;

$container-width: 90%;

$duration: 0.15s;

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Opera and Firefox */
}
@mixin gray_button {
  @include noselect;
  cursor: pointer;
  background-color: $gray-line;
  border-radius: 10px;
  padding: 2px 10px;

  &:hover {
    background-color: darken($color: $gray-line, $amount: 5);
  }
  &:active {
    background-color: darken($color: $gray-line, $amount: 10);
  }
}
